@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center"  style="background-image: url('https://pixnio.com/free-images/2017/08/22/2017-08-22-09-44-04.jpg');">
    <h1 class="display-4">Welcome</h1>
    <h2>To Classroom</h2>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
        
</div>
